In [1]:
#one variable containing following type of data
#string
x="pwskills"
print(x)

pwskills

In [2]:
#list
x=[2,4,"skill",4.6]
x

[2, 4, 'skill', 4.6]

In [3]:
#float
y=4.6
y

4.6

In [7]:
#tuple
z=(3,5,8)
z

(3, 5, 8)

In [9]:
#Q2 find datatype
var1=''
type(var1)

str

In [10]:
var2='[ds,ml,python]'
type(var2)

str

In [11]:
var3=['ds','ml','python']
type(var3)

list

In [12]:
var4=1.
type(var4)

float

In [1]:
#use of opertor with ex
#/  divide a by b
a=10
b=5
a/b

2.0

In [5]:
#// floor divide a by b ,dropping any franctional remainder
a=10
b=6
a//b

1

In [6]:
# % give remainder
a=5
b=2
a%b

1

In [1]:
# ** power
a=2
b=3
a**b

8

In [2]:
#Q4-Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
a_list=[1,2.3,2,'pw',True,'skills',9.44,9,'books']
for i in a_list:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
2
<class 'int'>
pw
<class 'str'>
True
<class 'bool'>
skills
<class 'str'>
9.44
<class 'float'>
9
<class 'int'>
books
<class 'str'>

In [ ]:
#Q5Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
def count_divisibility(A, B):
    count = 0
    while A % B == 0:
        count += 1
        A //= B  
    return count

In [10]:
#Q6Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
a_list=[3,5,9,7,5,12,56,33,44,66,17,28,4,5,4,6,7,2,8,5,7,56,8,3,5]
for i in a_list:
    print(i)
    if i%3==0:
        print('list num divible by 3')
    else:
        print('not digible by 3')

3
list num divible by 3
5
not digible by 3
9
list num divible by 3
7
not digible by 3
5
not digible by 3
12
list num divible by 3
56
not digible by 3
33
list num divible by 3
44
not digible by 3
66
list num divible by 3
17
not digible by 3
28
not digible by 3
4
not digible by 3
5
not digible by 3
4
not digible by 3
6
list num divible by 3
7
not digible by 3
2
not digible by 3
8
not digible by 3
5
not digible by 3
7
not digible by 3
56
not digible by 3
8
not digible by 3
3
list num divible by 3
5
not digible by 3

In [13]:
#Q7-What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
#mutable:- object or value they contain can be modified
#ex
a_list=[2,3,7,5.8]
a_list[2]='pw'
a_list

[2, 3, 'pw', 5.8]

In [14]:
#immutabel:-internal data can not be change
#ex
a='skills'
a[3]='k'
a

TypeError: 'str' object does not support item assignment